---
layout: default
---

<!--<section class="content content--open">
	<div class="content__item content__item--current content__item--reset">
		<div class="content__item-inner">-->
			<!--{% assign app_icon = '/images/' | append: page.name | downcase | append: '/icon.png' %}
			{% if page.app_icon %}
				{% assign app_icon = page.app_icon %}
			{% endif %}
			<img class="content__item-img animated bounceInDown" src="{{ app_icon | prepend: site.baseurl }}" alt="{{ page.title }}" id="app-icon" />-->
			

            {{ content }}

			
		<!--</div>
	</div>

	
</section>-->
